AIMWS/Data/ClientApplication_AccessIdentityManagement_messages.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="http://aim.mastercard.com/messages/phase1/" version="1.0"
           xmlns:tns="http://aim.mastercard.com/messages/phase1/"
           xmlns:types="http://aim.mastercard.com/messages/phase1/"
           xmlns:domain="http://aim.mastercard.com/domain/phase1/"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:import namespace="http://aim.mastercard.com/messages/phase1/" schemaLocation="Phase_1_AccessIdentityManagement_types.xsd" />
    <xs:import namespace="http://aim.mastercard.com/domain/phase1/" schemaLocation="Phase_1_AccessIdentityManagement_domain.xsd" />

    <xs:element name="registerClientApplicationRequest" type="tns:registerClientApplicationRequest"/>
    <xs:element name="registerClientApplicationResponse" type="tns:registerClientApplicationResponse"/>

    <xs:element name="getClientApplicationServicesRequest" type="tns:getClientApplicationServicesRequest"/>
    <xs:element name="getClientApplicationServicesResponse" type="tns:getClientApplicationServicesResponse"/>

    <xs:element name="grantServiceAccessRequest" type="tns:grantServiceAccessRequest"/>
    <xs:element name="grantServiceAccessResponse" type="tns:grantServiceAccessResponse"/>

    <xs:element name="addCertificateToClientApplicationRequest" type="tns:addCertificateToClientApplicationRequest"/>
    <xs:element name="addCertificateToClientApplicationResponse" type="tns:addCertificateToClientApplicationResponse"/>

    <xs:element name="removeCertificateFromClientApplicationRequest" type="tns:removeCertificateFromClientApplicationRequest"/>
    <xs:element name="removeCertificateFromClientApplicationResponse" type="tns:removeCertificateFromClientApplicationResponse"/>

    <xs:element name="removeClientApplicationRequest" type="tns:removeClientApplicationRequest"/>
    <xs:element name="removeClientApplicationResponse" type="tns:removeClientApplicationResponse"/>

    <xs:element name="getInternalUsersRequest" type="tns:getInternalUsersRequest"/>
    <xs:element name="getInternalUsersResponse" type="tns:getInternalUsersResponse"/>

    <xs:element name="setClientApplicationStatusRequest" type="tns:setClientApplicationStatusRequest"/>
    <xs:element name="setClientApplicationStatusResponse" type="tns:setClientApplicationStatusResponse"/>

    <xs:element name="createServiceRequest" type="tns:createServiceRequest"/>
    <xs:element name="createServiceResponse" type="tns:createServiceResponse"/>

    <xs:element name="deleteServiceRequest" type="tns:deleteServiceRequest"/>
    <xs:element name="deleteServiceResponse" type="tns:deleteServiceResponse"/>

    <xs:element name="getServiceInfoRequest" type="tns:getServiceInfoRequest"/>
    <xs:element name="getServiceInfoResponse" type="tns:getServiceInfoResponse"/>

    <xs:element name="revokeServiceAccessRequest" type="tns:revokeServiceAccessRequest"/>
    <xs:element name="revokeServiceAccessResponse" type="tns:revokeServiceAccessResponse"/>

    <xs:element name="updateServiceInformationRequest" type="tns:updateServiceInformationRequest"/>
    <xs:element name="updateServiceInformationResponse" type="tns:updateServiceInformationResponse"/>

    <xs:element name="getClientApplicationRequest" type="tns:getClientApplicationRequest"/>
    <xs:element name="getClientApplicationResponse" type="tns:getClientApplicationResponse"/>

	<xs:element name="addCertificateToDeveloperRequest" type="tns:addCertificateToDeveloperRequest"/>
    <xs:element name="addCertificateToDeveloperResponse" type="tns:addCertificateToDeveloperResponse"/>
	
	<xs:element name="removeCertificateFromDeveloperRequest" type="tns:removeCertificateFromDeveloperRequest"/>
    <xs:element name="removeCertificateFromDeveloperResponse" type="tns:removeCertificateFromDeveloperResponse"/>

    <xs:element name="findDeveloperCertificateRequest" type="tns:findDeveloperCertificateRequest"/>
    <xs:element name="findDeveloperCertificateResponse" type="tns:findDeveloperCertificateResponse"/>

    <xs:complexType name="registerClientApplicationRequest">
        <xs:sequence>
            <xs:element name="applicationId" nillable="false" type="tns:applicationId"/>
            <xs:element name="platform" nillable="false" type="tns:platform"/>
            <xs:element name="developerId" minOccurs="0" maxOccurs="1" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="registerClientApplicationResponse">
        <xs:annotation>
            <xs:documentation>
                An empty response
            </xs:documentation>
        </xs:annotation>
    </xs:complexType>

    <xs:simpleType name="searchField">
        <xs:annotation>
            <xs:documentation>
                Enumeration of possible fields to search on
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="USER_ID">
                <xs:annotation>
                    <xs:documentation>
                        ID of the user
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FIRST_NAME">
                <xs:annotation>
                    <xs:documentation>
                        User's First Name
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LAST_NAME">
                <xs:annotation>
                    <xs:documentation>
                        User's Last Name
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EMAIL">
                <xs:annotation>
                    <xs:documentation>
                        Email address of the user
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ROLE">
                <xs:annotation>
                    <xs:documentation>
                        A role that the user belongs to
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="platform">
        <xs:annotation>
            <xs:documentation>
                Enumeration value used to specify which platform (aka environment) this application resides in.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="production">
                <xs:annotation>
                    <xs:documentation>
                        Used for the live system.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="sandbox">
                <xs:annotation>
                    <xs:documentation>
                        Used for development and testing.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="status">
        <xs:annotation>
            <xs:documentation>
                Enumeration value used to specify the status of a client application
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="active">
                <xs:annotation>
                    <xs:documentation>
                        Used for an active client application
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="inactive">
                <xs:annotation>
                    <xs:documentation>
                        Used for an inactive client application
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="getClientApplicationServicesRequest">
        <xs:annotation>
            <xs:documentation>
                Retrieves the services associated with a client application
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="applicationId" nillable="false" type="tns:applicationId"/>
            <xs:element name="platform" nillable="false" type="tns:platform"/>
            <xs:element name="developerId" minOccurs="0" maxOccurs="1" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getClientApplicationServicesResponse">
        <xs:sequence>
            <xs:element name="serviceInfoList" nillable="true" type="tns:serviceInfo" minOccurs="0"
                        maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="serviceInfo">
        <xs:sequence>
            <xs:element name="serviceName" type="tns:serviceName"/>
            <xs:element name="serviceType" type="tns:serviceType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="serviceType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="general">
                <xs:annotation>
                    <xs:documentation>
                        Specifies a general purpose application
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="premium">
                <xs:annotation>
                    <xs:documentation>
                        Specifies a premium based application
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="both">
                <xs:annotation>
                    <xs:documentation>
                        Specifies an application that is both general purpose and premium
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="grantServiceAccessRequest">
        <xs:sequence>
            <xs:element name="serviceName" nillable="false" minOccurs="1" maxOccurs="unbounded" type="tns:serviceName"/>
            <xs:element name="applicationId" nillable="false" minOccurs="1" maxOccurs="1" type="tns:applicationId"/>
            <xs:element name="platform" nillable="false" minOccurs="1" maxOccurs="1" type="tns:platform"/>
            <xs:element name="developerId" minOccurs="0" maxOccurs="1" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="grantServiceAccessResponse">
        <xs:annotation>
            <xs:documentation>
                An empty response
            </xs:documentation>
        </xs:annotation>
    </xs:complexType>

    <xs:complexType name="addCertificateToClientApplicationRequest">
        <xs:complexContent>
            <xs:extension base="tns:applicationCertificateRelationship"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="addCertificateToClientApplicationResponse">
        <xs:annotation>
            <xs:documentation>
                An empty response
            </xs:documentation>
        </xs:annotation>
    </xs:complexType>

    <xs:complexType name="removeCertificateFromClientApplicationRequest">
        <xs:complexContent>
            <xs:extension base="tns:applicationCertificateRelationship"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="removeCertificateFromClientApplicationResponse">
        <xs:annotation>
            <xs:documentation>
                An empty response
            </xs:documentation>
        </xs:annotation>
    </xs:complexType>

    <xs:complexType name="removeClientApplicationRequest">
        <xs:sequence>
            <xs:element name="applicationId" nillable="false" type="tns:applicationId"/>
            <xs:element name="platform" nillable="false" type="tns:platform"/>
            <xs:element name="developerId" minOccurs="0" maxOccurs="1" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="removeClientApplicationResponse">
        <xs:annotation>
            <xs:documentation>
                An empty response
            </xs:documentation>
        </xs:annotation>
    </xs:complexType>

    <xs:complexType name="getInternalUsersRequest">
        <xs:sequence>
            <xs:element name="searchCriteria" nillable="false" minOccurs="1" type="tns:searchCriteria"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getInternalUsersResponse">
        <xs:sequence>
            <xs:element name="users" nillable="true" minOccurs="0" maxOccurs="unbounded" type="types:userInfoExt"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="setClientApplicationStatusRequest">
        <xs:sequence>
            <xs:element name="applicationId" nillable="false" type="tns:applicationId"/>
            <xs:element name="platform" nillable="false" type="tns:platform"/>
            <xs:element name="isActive" nillable="false" type="xs:boolean"/>
            <xs:element name="developerId" minOccurs="0" maxOccurs="1" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="setClientApplicationStatusResponse">
        <xs:annotation>
            <xs:documentation>
                An empty response
            </xs:documentation>
        </xs:annotation>
    </xs:complexType>

    <xs:complexType name="createServiceRequest">
        <xs:sequence>
            <xs:element name="serviceName" nillable="false" type="tns:serviceName"/>
            <xs:element name="serviceType" nillable="false" type="tns:serviceType"/>
            <xs:element name="platform" nillable="false" type="tns:platform"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="createServiceResponse">
        <xs:annotation>
            <xs:documentation>
                An empty response
            </xs:documentation>
        </xs:annotation>
    </xs:complexType>
    
    <xs:complexType name="deleteServiceRequest">
        <xs:sequence>
            <xs:element name="serviceName" nillable="false" type="tns:serviceName"/>
            <xs:element name="platform" nillable="false" type="tns:platform"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="deleteServiceResponse">
        <xs:annotation>
            <xs:documentation>
                An empty response
            </xs:documentation>
        </xs:annotation>
    </xs:complexType>

    <xs:complexType name="getServiceInfoRequest">
        <xs:sequence>
            <xs:element name="serviceName" nillable="false" type="tns:serviceName"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getServiceInfoResponse">
    	<xs:sequence>
    		<xs:element name="service" type="tns:serviceInfoExt" maxOccurs="unbounded" />
    	</xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="serviceInfoExt">
    	<xs:complexContent>
    		<xs:extension base="tns:serviceInfo">
    			<xs:sequence>
		            <xs:element name="platform" nillable="false" type="tns:platform" />
    			</xs:sequence>
    		</xs:extension>
    	</xs:complexContent>
    </xs:complexType>

    <xs:complexType name="revokeServiceAccessRequest">
        <xs:sequence>
            <xs:element name="applicationId" nillable="false" type="tns:applicationId"/>
            <xs:element name="serviceName" nillable="false" type="tns:serviceName"/>
            <xs:element name="platform" nillable="false" type="tns:platform"/>
            <xs:element name="developerId" minOccurs="0" maxOccurs="1" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="revokeServiceAccessResponse">
        <xs:annotation>
            <xs:documentation>
                An empty response
            </xs:documentation>
        </xs:annotation>
    </xs:complexType>

    <xs:complexType name="updateServiceInformationRequest">
        <xs:sequence>
            <xs:element name="currentServiceName" nillable="false" type="tns:serviceName"/>
            <xs:element name="newServiceName" nillable="false" type="tns:serviceName"/>
            <xs:element name="serviceType" nillable="false" type="tns:serviceType"/>
            <xs:element name="platform" nillable="false" type="tns:platform"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="updateServiceInformationResponse">
        <xs:annotation>
            <xs:documentation>
                An empty response
            </xs:documentation>
        </xs:annotation>
    </xs:complexType>

    <xs:complexType name="getClientApplicationRequest">
        <xs:sequence>
            <xs:element name="applicationId" nillable="false" type="tns:applicationId"/>
            <xs:element name="platform" nillable="false" type="tns:platform"/>
            <xs:element name="developerId" minOccurs="0" maxOccurs="1" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getClientApplicationResponse">
        <xs:sequence>
            <xs:element name="applicationId" nillable="false" type="tns:applicationId"/>
            <xs:element name="platform" nillable="false" type="tns:platform"/>
            <xs:element name="owner" nillable="false" type="tns:owner"/>
            <xs:element name="status" nillable="false" type="tns:status"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="applicationCertificateRelationship">
        <xs:sequence>
            <xs:element name="keyAlias" nillable="false" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        The alias to the certificate that authorizes the client application
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="applicationId" nillable="false" type="tns:applicationId"/>
            <xs:element name="platform" nillable="false" type="tns:platform"/>
            <xs:element name="developerId" minOccurs="0" maxOccurs="1" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="applicationId">
        <xs:annotation>
            <xs:documentation>
                The ID of the client application that will be granted the new service
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="owner">
        <xs:annotation>
            <xs:documentation>
                The ID of the owner of a client application
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="serviceName">
        <xs:annotation>
            <xs:documentation>
                The name of the service that will be granted to the client application
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:complexType name="searchCriteria">
        <xs:sequence>
            <xs:element name="firstName" minOccurs="0" type="xs:string"/>
            <xs:element name="lastName" minOccurs="0" type="xs:string"/>
            <xs:element name="userId" minOccurs="0" type="xs:string"/>
            <xs:element name="role" type="domain:userRole" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="internalUser">
        <xs:sequence>
            <xs:element name="firstName" nillable="false" minOccurs="1" type="xs:string"/>
            <xs:element name="lastName" nillable="false" minOccurs="1" type="xs:string"/>
            <xs:element name="userId" nillable="false" minOccurs="1" type="xs:string"/>
            <xs:element name="email" nillable="false" minOccurs="1" type="xs:string"/>
            <xs:element name="roles" nillable="false" type="xs:string" minOccurs="0" maxOccurs="100"/>
        </xs:sequence>
    </xs:complexType>

	<xs:complexType name="addCertificateToDeveloperRequest">
        <xs:sequence>
            <xs:element name="keyAlias" nillable="false" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Unique key to identify Certificate for the developer.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="expirationDate" nillable="false" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Date needs to be yyyyMMdd.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="platform" nillable="false" type="tns:platform"/>
            <xs:element name="encodedCertificate" nillable="false" type="xs:string" >
            <xs:annotation>
                <xs:documentation>
                    Signed certificate should be Base 64 encoded.
                </xs:documentation>
            </xs:annotation>
            </xs:element>
            <xs:element name="developerId" minOccurs="0" maxOccurs="1" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

	<xs:complexType name="addCertificateToDeveloperResponse">
		<xs:annotation>
			<xs:documentation>
				An empty response
			</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	
    <xs:complexType name="removeCertificateFromDeveloperRequest">
        <xs:sequence>
            <xs:element name="platform" nillable="false" type="tns:platform"/>
            <xs:element name="keyAlias" nillable="false" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Unique key to identify Certificate for the developer.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="developerId"  minOccurs="0" maxOccurs="1" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

	<xs:complexType name="removeCertificateFromDeveloperResponse">
		<xs:annotation>
			<xs:documentation>
				An empty response
			</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	
	<xs:complexType name="developerCertificateInfo">
        <xs:sequence>
            <xs:element name="keyAlias" nillable="true" type="xs:string"/>
            <xs:element name="expirationDate" nillable="true" type="xs:string"/>
            <xs:element name="certificate" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="findDeveloperCertificateRequest">
		<xs:sequence>
			<xs:element name="platform" nillable="false" type="tns:platform"/>
			<xs:element name="keyAlias" nillable="false" type="xs:string"/>
            <xs:element name="developerId" minOccurs="0" maxOccurs="1" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="findDeveloperCertificateResponse">
		<xs:sequence>
            <xs:element name="developerCertificateInfo" nillable="false" minOccurs="1" type="tns:developerCertificateInfo"/>
        </xs:sequence>
	</xs:complexType>
</xs:schema>