AIMWS/Data/Phase_1_AccessIdentityManagement.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="Phase_1_AccessIdentityManagement" targetNamespace="http://aim.mastercard.com/phase1/service/"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://aim.mastercard.com/phase1/service/"
             xmlns:msg="http://aim.mastercard.com/messages/phase1/"
             xmlns:exception="http://aim.mastercard.com/exception/phase1/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        >
    <types>
        <xsd:schema>
            <xsd:import namespace="http://aim.mastercard.com/messages/phase1/"
                        schemaLocation="Phase_1_AccessIdentityManagement_messages.xsd"/>
            <xsd:import namespace="http://aim.mastercard.com/exception/phase1/"
                        schemaLocation="Phase_1_AccessIdentityManagement_exception.xsd"/>
        </xsd:schema>
    </types>

    <message name="aimErrorResponse">
        <part element="exception:aimErrorList" name="fault"/>
    </message>

    <message name="addUserToRoleRequest">
        <part element="msg:addUserToRoleRequest" name="addUserToRoleRequest"/>
    </message>
    <message name="addUserToRoleResponse">
        <part element="msg:addUserToRoleResponse" name="addUserToRoleResponse"/>
    </message>
    <message name="createUserRequest">
        <part element="msg:createUserRequest" name="createUserRequest"/>
    </message>
    <message name="createUserResponse">
        <part element="msg:createUserResponse" name="createUserResponse"/>
    </message>
    <message name="createRoleRequest">
        <part element="msg:createRoleRequest" name="createRoleRequest"/>
    </message>
    <message name="createRoleResponse">
        <part element="msg:createRoleResponse" name="createRoleResponse"/>
    </message>
    <message name="deleteRoleRequest">
        <part element="msg:deleteRoleRequest" name="deleteRoleRequest"/>
    </message>
    <message name="deleteRoleResponse">
        <part element="msg:deleteRoleResponse" name="deleteRoleResponse"/>
    </message>
    <message name="deleteUserRequest">
        <part element="msg:deleteUserRequest" name="deleteUserRequest"/>
    </message>
    <message name="deleteUserResponse">
        <part element="msg:deleteUserResponse" name="deleteUserResponse"/>
    </message>
    <message name="getSoftTokenRequest">
        <part element="msg:getSoftTokenRequest" name="getSoftTokenRequest"/>
    </message>
    <message name="getSoftTokenResponse">
        <part element="msg:getSoftTokenResponse" name="getSoftTokenResponse"/>
    </message>
    <message name="getUserRolesRequest">
        <part element="msg:getUserRolesRequest" name="getUserRolesRequest"/>
    </message>
    <message name="getUserRolesResponse">
        <part element="msg:getUserRolesResponse" name="getUserRolesResponse"/>
    </message>

    <message name="modifyUserRequest">
        <part element="msg:modifyUserRequest" name="modifyUserRequest"/>
    </message>
    <message name="modifyUserResponse">
        <part element="msg:modifyUserResponse" name="modifyUserResponse"/>
    </message>
    <message name="removeUserFromRoleRequest">
        <part element="msg:removeUserFromRoleRequest" name="removeUserFromRoleRequest"/>
    </message>
    <message name="removeUserFromRoleResponse">
        <part element="msg:removeUserFromRoleResponse" name="removeUserFromRoleResponse"/>
    </message>
    <message name="removeSoftTokenRequest">
        <part element="msg:removeSoftTokenRequest" name="removeSoftTokenRequest"/>
    </message>
    <message name="removeSoftTokenResponse">
        <part element="msg:removeSoftTokenResponse" name="removeSoftTokenResponse"/>
    </message>
    <message name="restoreUserRequest">
        <part element="msg:restoreUserRequest" name="restoreUserRequest"/>
    </message>
    <message name="restoreUserResponse">
        <part element="msg:restoreUserResponse" name="restoreUserResponse"/>
    </message>
    <message name="setSoftTokenRequest">
        <part element="msg:setSoftTokenRequest" name="setSoftTokenRequest"/>
    </message>
    <message name="setSoftTokenResponse">
        <part element="msg:setSoftTokenResponse" name="setSoftTokenResponse"/>
    </message>
    <message name="suspendUserRequest">
        <part element="msg:suspendUserRequest" name="suspendUserRequest"/>
    </message>
    <message name="suspendUserResponse">
        <part element="msg:suspendUserResponse" name="suspendUserResponse"/>
    </message>
    <message name="getUserInfoRequest">
        <part element="msg:getUserInfoRequest" name="getUserInfoRequest"/>
    </message>
    <message name="getUserInfoResponse">
        <part element="msg:getUserInfoResponse" name="getUserInfoResponse"/>
    </message>
    <message name="registerESBClientUserRequest">
        <part element="msg:registerESBClientUserRequest" name="registerESBClientUserRequest"/>
    </message>
    <message name="registerESBClientUserResponse">
        <part element="msg:registerESBClientUserResponse" name="registerESBClientUserResponse"/>
    </message>
    <message name="modifyESBClientUserRequest">
        <part element="msg:modifyESBClientUserRequest" name="modifyESBClientUserRequest"/>
    </message>
    <message name="modifyESBClientUserResponse">
        <part element="msg:modifyESBClientUserResponse" name="modifyESBClientUserResponse"/>
    </message>
    <message name="deleteESBClientUserRequest">
    	<part element="msg:deleteESBClientUserRequest" name="deleteESBClientUserRequest" />
    </message>
    <message name="deleteESBClientUserResponse">
    	<part element="msg:deleteESBClientUserResponse" name="deleteESBClientUserResponse" />
    </message>
    <message name="testServiceRequest">
        <part element="msg:testServiceRequest" name="testServiceRequest"/>
    </message>
    <message name="testServiceResponse">
        <part element="msg:testServiceResponse" name="testServiceResponse"/>
    </message>
    <message name="authenticatePasswordRequest">
        <part element="msg:authenticatePasswordRequest" name="authenticatePasswordRequest"/>
    </message>
    <message name="authenticatePasswordResponse">
        <part element="msg:authenticatePasswordResponse" name="authenticatePasswordResponse"/>
    </message>
    <portType name="Phase_1_AccessIdentityManagement">
        <operation name="addUserToRole">
            <input message="tns:addUserToRoleRequest"/>
            <output message="tns:addUserToRoleResponse"/>
            <fault message="tns:aimErrorResponse" name="aimErrorResponse"/>
        </operation>
        <operation name="createUser">
            <input message="tns:createUserRequest"/>
            <output message="tns:createUserResponse"/>
            <fault message="tns:aimErrorResponse" name="aimErrorResponse"/>
        </operation>
        <operation name="createRole">
            <input message="tns:createRoleRequest"/>
            <output message="tns:createRoleResponse"/>
            <fault message="tns:aimErrorResponse" name="aimErrorResponse"/>
        </operation>
        <operation name="deleteRole">
            <input message="tns:deleteRoleRequest"/>
            <output message="tns:deleteRoleResponse"/>
            <fault message="tns:aimErrorResponse" name="aimErrorResponse"/>
        </operation>
        <operation name="deleteUser">
            <input message="tns:deleteUserRequest"/>
            <output message="tns:deleteUserResponse"/>
            <fault message="tns:aimErrorResponse" name="aimErrorResponse"/>
        </operation>
        <operation name="getSoftToken">
            <input message="tns:getSoftTokenRequest"/>
            <output message="tns:getSoftTokenResponse"/>
            <fault message="tns:aimErrorResponse" name="aimErrorResponse"/>
        </operation>
        <operation name="modifyUser">
            <input message="tns:modifyUserRequest"/>
            <output message="tns:modifyUserResponse"/>
            <fault message="tns:aimErrorResponse" name="aimErrorResponse"/>
        </operation>
        <operation name="removeUserFromRole">
            <input message="tns:removeUserFromRoleRequest"/>
            <output message="tns:removeUserFromRoleResponse"/>
            <fault message="tns:aimErrorResponse" name="aimErrorResponse"/>
        </operation>
        <operation name="removeSoftToken">
            <input message="tns:removeSoftTokenRequest"/>
            <output message="tns:removeSoftTokenResponse"/>
            <fault message="tns:aimErrorResponse" name="aimErrorResponse"/>
        </operation>
        <operation name="restoreUser">
            <input message="tns:restoreUserRequest"/>
            <output message="tns:restoreUserResponse"/>
            <fault message="tns:aimErrorResponse" name="aimErrorResponse"/>
        </operation>
        <operation name="setSoftToken">
            <input message="tns:setSoftTokenRequest"/>
            <output message="tns:setSoftTokenResponse"/>
            <fault message="tns:aimErrorResponse" name="aimErrorResponse"/>
        </operation>
        <operation name="getUserRoles">
            <input message="tns:getUserRolesRequest"/>
            <output message="tns:getUserRolesResponse"/>
            <fault message="tns:aimErrorResponse" name="aimErrorResponse"/>
        </operation>
        <operation name="suspendUser">
            <input message="tns:suspendUserRequest"/>
            <output message="tns:suspendUserResponse"/>
            <fault message="tns:aimErrorResponse" name="aimErrorResponse"/>
        </operation>
        <operation name="getUserInfo">
            <input message="tns:getUserInfoRequest"/>
            <output message="tns:getUserInfoResponse"/>
            <fault message="tns:aimErrorResponse" name="aimErrorResponse"/>
        </operation>
        <operation name="registerESBClientUser">
            <input message="tns:registerESBClientUserRequest"/>
            <output message="tns:registerESBClientUserResponse"/>
            <fault message="tns:aimErrorResponse" name="aimErrorResponse"/>
        </operation>
        <operation name="modifyESBClientUser">
            <input message="tns:modifyESBClientUserRequest"/>
            <output message="tns:modifyESBClientUserResponse"/>
            <fault message="tns:aimErrorResponse" name="aimErrorResponse"/>
        </operation>
        <operation name="deleteESBClientUser">
            <input message="tns:deleteESBClientUserRequest"/>
            <output message="tns:deleteESBClientUserResponse"/>
            <fault message="tns:aimErrorResponse" name="aimErrorResponse"/>
        </operation>
        <operation name="testService">
            <input message="tns:testServiceRequest"/>
            <output message="tns:testServiceResponse"/>
            <fault message="tns:aimErrorResponse" name="aimErrorResponse"/>
        </operation>
        <operation name="authenticatePassword">
            <input message="tns:authenticatePasswordRequest"/>
            <output message="tns:authenticatePasswordResponse"/>
            <fault message="tns:aimErrorResponse" name="aimErrorResponse"/>
        </operation>
    </portType>
    <binding name="Phase_1_AccessIdentityManagementPortBinding" type="tns:Phase_1_AccessIdentityManagement">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="addUserToRole">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="aimErrorResponse">
                <soap:fault name="aimErrorResponse" use="literal"/>
            </fault>
        </operation>
        <operation name="createUser">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="aimErrorResponse">
                <soap:fault name="aimErrorResponse" use="literal"/>
            </fault>
        </operation>
        <operation name="createRole">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="aimErrorResponse">
                <soap:fault name="aimErrorResponse" use="literal"/>
            </fault>
        </operation>
        <operation name="deleteRole">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="aimErrorResponse">
                <soap:fault name="aimErrorResponse" use="literal"/>
            </fault>
        </operation>
        <operation name="deleteUser">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="aimErrorResponse">
                <soap:fault name="aimErrorResponse" use="literal"/>
            </fault>
        </operation>
        <operation name="getUserRoles">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="aimErrorResponse">
                <soap:fault name="aimErrorResponse" use="literal"/>
            </fault>
        </operation>

    <operation name="getSoftToken">
        <soap:operation soapAction=""/>
        <input>
            <soap:body use="literal"/>
        </input>
        <output>
            <soap:body use="literal"/>
        </output>
        <fault name="aimErrorResponse">
            <soap:fault name="aimErrorResponse" use="literal"/>
        </fault>
    </operation>
        <operation name="modifyUser">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="aimErrorResponse">
                <soap:fault name="aimErrorResponse" use="literal"/>
            </fault>
        </operation>
        <operation name="removeUserFromRole">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="aimErrorResponse">
                <soap:fault name="aimErrorResponse" use="literal"/>
            </fault>
        </operation>
        <operation name="removeSoftToken">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="aimErrorResponse">
                <soap:fault name="aimErrorResponse" use="literal"/>
            </fault>
        </operation>
        <operation name="restoreUser">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="aimErrorResponse">
                <soap:fault name="aimErrorResponse" use="literal"/>
            </fault>
        </operation>
        <operation name="setSoftToken">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="aimErrorResponse">
                <soap:fault name="aimErrorResponse" use="literal"/>
            </fault>
        </operation>
        <operation name="suspendUser">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="aimErrorResponse">
                <soap:fault name="aimErrorResponse" use="literal"/>
            </fault>
        </operation>
        <operation name="getUserInfo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="aimErrorResponse">
                <soap:fault name="aimErrorResponse" use="literal"/>
            </fault>
        </operation>
        <operation name="registerESBClientUser">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="aimErrorResponse">
                <soap:fault name="aimErrorResponse" use="literal"/>
            </fault>
        </operation>
        <operation name="modifyESBClientUser">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="aimErrorResponse">
                <soap:fault name="aimErrorResponse" use="literal"/>
            </fault>
        </operation>        
        <operation name="deleteESBClientUser">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="aimErrorResponse">
                <soap:fault name="aimErrorResponse" use="literal"/>
            </fault>
        </operation>
        <operation name="testService">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="aimErrorResponse">
                <soap:fault name="aimErrorResponse" use="literal"/>
            </fault>
        </operation>
        <operation name="authenticatePassword">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="aimErrorResponse">
                <soap:fault name="aimErrorResponse" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="Phase_1_AccessIdentityManagementService">
        <port binding="tns:Phase_1_AccessIdentityManagementPortBinding" name="Phase_1_AccessIdentityManagementPort">
            <soap:address location="http://localhost:9081/v1.0.0_aimws_phase1/Phase_1_AccessIdentityManagementService"/>
        </port>
    </service>
</definitions>