AIMWS/Data/Phase_1_System_AccessIdentityManagement.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="Phase_1_AccessIdentityManagement" targetNamespace="http://aim.mastercard.com/phase1/service/"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://aim.mastercard.com/phase1/service/"
             xmlns:msg="http://aim.mastercard.com/messages/phase1/"
             xmlns:exception="http://aim.mastercard.com/exception/phase1/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        >
    <types>
        <xsd:schema>
            <xsd:import namespace="http://aim.mastercard.com/messages/phase1/"
                        schemaLocation="Phase_1_AccessIdentityManagement_messages.xsd"/>
            <xsd:import namespace="http://aim.mastercard.com/exception/phase1/"
                        schemaLocation="Phase_1_AccessIdentityManagement_exception.xsd"/>
        </xsd:schema>
    </types>

    <message name="aimErrorResponse">
        <part element="exception:aimErrorList" name="fault"/>
    </message>
    
    <message name="createUserRequest">
        <part element="msg:createUserSystemRequest" name="createUserRequest"/>
    </message>
    <message name="createUserResponse">
        <part element="msg:createUserResponse" name="createUserResponse"/>
    </message>

    <message name="modifyUserRequest">
        <part element="msg:modifyUserSystemRequest" name="modifyUserRequest"/>
    </message>
    <message name="modifyUserResponse">
        <part element="msg:modifyUserResponse" name="modifyUserResponse"/>
    </message>
        
    <message name="suspendUserRequest">
        <part element="msg:suspendUserSystemRequest" name="suspendUserRequest"/>
    </message>
    <message name="suspendUserResponse">
        <part element="msg:suspendUserResponse" name="suspendUserResponse"/>
    </message>

    <message name="restoreUserRequest">
        <part element="msg:restoreUserSystemRequest" name="restoreUserRequest"/>
    </message>
    <message name="restoreUserResponse">
        <part element="msg:restoreUserResponse" name="restoreUserResponse"/>
    </message>

    <message name="deleteUserRequest">
        <part element="msg:deleteUserSystemRequest" name="deleteUserRequest"/>
    </message>
    <message name="deleteUserResponse">
        <part element="msg:deleteUserResponse" name="deleteUserResponse"/>
    </message>

    <message name="addUserToRoleRequest">
        <part element="msg:addUserToRoleSystemRequest" name="addUserToRoleRequest"/>
    </message>
    <message name="addUserToRoleResponse">
        <part element="msg:addUserToRoleResponse" name="addUserToRoleResponse"/>
    </message>
    <message name="getUserRolesRequest">
        <part element="msg:getUserRolesSystemRequest" name="getUserRolesRequest"/>
    </message>
    <message name="getUserRolesResponse">
        <part element="msg:getUserRolesResponse" name="getUserRolesResponse"/>
    </message>
    <message name="removeUserFromRoleRequest">
        <part element="msg:removeUserFromRoleSystemRequest" name="removeUserFromRoleRequest"/>
    </message>
    <message name="removeUserFromRoleResponse">
        <part element="msg:removeUserFromRoleResponse" name="removeUserFromRoleResponse"/>
    </message>
    <message name="createRoleRequest">
        <part element="msg:createRoleSystemRequest" name="createRoleRequest"/>
    </message>
    <message name="createRoleResponse">
        <part element="msg:createRoleResponse" name="createRoleResponse"/>
    </message>
    <message name="deleteRoleRequest">
        <part element="msg:deleteRoleSystemRequest" name="deleteRoleRequest"/>
    </message>
    <message name="deleteRoleResponse">
        <part element="msg:deleteRoleResponse" name="deleteRoleResponse"/>
    </message>


    <message name="testServiceRequest">
        <part element="msg:testServiceRequest" name="testServiceRequest"/>
    </message>
    <message name="testServiceResponse">
        <part element="msg:testServiceResponse" name="testServiceResponse"/>
    </message>    

    <portType name="Phase_1_System_AccessIdentityManagement">
        <operation name="createUser">
            <input message="tns:createUserRequest"/>
            <output message="tns:createUserResponse"/>
            <fault message="tns:aimErrorResponse" name="aimErrorResponse"/>
        </operation> 
        <operation name="modifyUser">
            <input message="tns:modifyUserRequest"/>
            <output message="tns:modifyUserResponse"/>
            <fault message="tns:aimErrorResponse" name="aimErrorResponse"/>
        </operation>
        <operation name="suspendUser">
            <input message="tns:suspendUserRequest"/>
            <output message="tns:suspendUserResponse"/>
            <fault message="tns:aimErrorResponse" name="aimErrorResponse"/>
        </operation>
        <operation name="restoreUser">
            <input message="tns:restoreUserRequest"/>
            <output message="tns:restoreUserResponse"/>
            <fault message="tns:aimErrorResponse" name="aimErrorResponse"/>
        </operation>
        <operation name="deleteUser">
            <input message="tns:deleteUserRequest"/>
            <output message="tns:deleteUserResponse"/>
            <fault message="tns:aimErrorResponse" name="aimErrorResponse"/>
        </operation>
        <operation name="addUserToRole">
            <input message="tns:addUserToRoleRequest"/>
            <output message="tns:addUserToRoleResponse"/>
            <fault message="tns:aimErrorResponse" name="aimErrorResponse"/>
        </operation>
        <operation name="createRole">
            <input message="tns:createRoleRequest"/>
            <output message="tns:createRoleResponse"/>
            <fault message="tns:aimErrorResponse" name="aimErrorResponse"/>
        </operation>
        <operation name="deleteRole">
            <input message="tns:deleteRoleRequest"/>
            <output message="tns:deleteRoleResponse"/>
            <fault message="tns:aimErrorResponse" name="aimErrorResponse"/>
        </operation>
        <operation name="removeUserFromRole">
            <input message="tns:removeUserFromRoleRequest"/>
            <output message="tns:removeUserFromRoleResponse"/>
            <fault message="tns:aimErrorResponse" name="aimErrorResponse"/>
        </operation>
        <operation name="getUserRoles">
            <input message="tns:getUserRolesRequest"/>
            <output message="tns:getUserRolesResponse"/>
            <fault message="tns:aimErrorResponse" name="aimErrorResponse"/>
        </operation>
        <operation name="testService">
            <input message="tns:testServiceRequest"/>
            <output message="tns:testServiceResponse"/>
            <fault message="tns:aimErrorResponse" name="aimErrorResponse"/>
        </operation>
    </portType>
    
    <binding name="Phase_1_System_AccessIdentityManagementPortBinding" type="tns:Phase_1_System_AccessIdentityManagement">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="createUser">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="aimErrorResponse">
                <soap:fault name="aimErrorResponse" use="literal"/>
            </fault>
        </operation>
        <operation name="modifyUser">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="aimErrorResponse">
                <soap:fault name="aimErrorResponse" use="literal"/>
            </fault>
        </operation>
        <operation name="suspendUser">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="aimErrorResponse">
                <soap:fault name="aimErrorResponse" use="literal"/>
            </fault>
        </operation>
        <operation name="restoreUser">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="aimErrorResponse">
                <soap:fault name="aimErrorResponse" use="literal"/>
            </fault>
        </operation>
        <operation name="deleteUser">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="aimErrorResponse">
                <soap:fault name="aimErrorResponse" use="literal"/>
            </fault>
        </operation>
        <operation name="addUserToRole">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="aimErrorResponse">
                <soap:fault name="aimErrorResponse" use="literal"/>
            </fault>
        </operation>
        <operation name="createRole">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="aimErrorResponse">
                <soap:fault name="aimErrorResponse" use="literal"/>
            </fault>
        </operation>
        <operation name="deleteRole">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="aimErrorResponse">
                <soap:fault name="aimErrorResponse" use="literal"/>
            </fault>
        </operation>
        <operation name="getUserRoles">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="aimErrorResponse">
                <soap:fault name="aimErrorResponse" use="literal"/>
            </fault>
        </operation>
        <operation name="removeUserFromRole">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="aimErrorResponse">
                <soap:fault name="aimErrorResponse" use="literal"/>
            </fault>
        </operation>
        <operation name="testService">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="aimErrorResponse">
                <soap:fault name="aimErrorResponse" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="Phase_1_System_AccessIdentityManagementService">
        <port binding="tns:Phase_1_System_AccessIdentityManagementPortBinding" name="Phase_1_System_AccessIdentityManagementPort">
            <soap:address location="http://localhost:9081/v1.0.0_aimws_phase1/Phase_1_System_AccessIdentityManagementService"/>
        </port>
    </service>
</definitions>