AIMWS/Data/Phase_1_Public_AccessIdentityManagement.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="Phase_1_Public_AccessIdentityManagement" targetNamespace="http://aim.mastercard.com/phase1/service/"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://aim.mastercard.com/phase1/service/"
             xmlns:msg="http://aim.mastercard.com/messages/phase1/"
             xmlns:exception="http://aim.mastercard.com/exception/phase1/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        >
    <types>
        <xsd:schema>
            <xsd:import namespace="http://aim.mastercard.com/messages/phase1/"
                        schemaLocation="Phase_1_AccessIdentityManagement_messages.xsd"/>
            <xsd:import namespace="http://aim.mastercard.com/exception/phase1/"
                        schemaLocation="Phase_1_AccessIdentityManagement_exception.xsd"/>
        </xsd:schema>
    </types>

    <message name="aimErrorResponse">
        <part element="exception:aimErrorList" name="fault"/>
    </message>
    <message name="forgotPasswordRequest">
        <part element="msg:forgotPasswordRequest" name="forgotPasswordRequest"/>
    </message>
    <message name="forgotPasswordResponse">
        <part element="msg:forgotPasswordResponse" name="forgotPasswordResponse"/>
    </message>
    <message name="forgotSeedRequest">
        <part element="msg:forgotSeedRequest" name="forgotSeedRequest"/>
    </message>
    <message name="forgotSeedResponse">
        <part element="msg:forgotSeedResponse" name="forgotSeedResponse"/>
    </message>
    <message name="searchUserRequest">
        <part element="msg:searchUserRequest" name="searchUserRequest"/>
    </message>
    <message name="searchUserResponse">
        <part element="msg:searchUserResponse" name="searchUserResponse"/>
    </message>
    <message name="selfRegisterRequest">
        <part element="msg:selfRegisterRequest" name="selfRegisterRequest"/>
    </message>
    <message name="selfRegisterResponse">
        <part element="msg:selfRegisterResponse" name="selfRegisterResponse"/>
    </message>
    <message name="selfRegisterBackoutRequest">
        <part element="msg:selfRegisterBackoutRequest" name="selfRegisterBackoutRequest"/>
    </message>
    <message name="selfRegisterBackoutResponse">
        <part element="msg:selfRegisterBackoutResponse" name="selfRegisterBackoutResponse"/>
    </message>
    <message name="getSecurityQuestionsRequest">
        <part element="msg:getSecurityQuestionsRequest" name="getSecurityQuestionsRequest"/>
    </message>
    <message name="getSecurityQuestionsResponse">
        <part element="msg:getSecurityQuestionsResponse" name="getSecurityQuestionsResponse"/>
    </message>
    <message name="testServiceRequest">
        <part element="msg:testServiceRequest" name="testServiceRequest"/>
    </message>
    <message name="testServiceResponse">
        <part element="msg:testServiceResponse" name="testServiceResponse"/>
    </message>
    <message name="getRolesRequest">
		<part element="msg:getRolesRequest" name="getRolesRequest" />
    </message>
    <message name="getRolesResponse">
		<part element="msg:getRolesResponse" name="getRolesResponse" />    
    </message>

    <portType name="Phase_1_Public_AccessIdentityManagement">
        <operation name="forgotPassword">
            <input message="tns:forgotPasswordRequest"/>
            <output message="tns:forgotPasswordResponse"/>
            <fault message="tns:aimErrorResponse" name="aimErrorResponse"/>
        </operation>
        <operation name="searchUser">
            <input message="tns:searchUserRequest"/>
            <output message="tns:searchUserResponse"/>
            <fault message="tns:aimErrorResponse" name="aimErrorResponse"/>
        </operation>
        <operation name="selfRegister">
            <input message="tns:selfRegisterRequest"/>
            <output message="tns:selfRegisterResponse"/>
            <fault message="tns:aimErrorResponse" name="aimErrorResponse"/>
        </operation>
        <operation name="selfRegisterBackout">
            <input message="tns:selfRegisterBackoutRequest"/>
            <output message="tns:selfRegisterBackoutResponse"/>
            <fault message="tns:aimErrorResponse" name="aimErrorResponse"/>
        </operation>
        <operation name="forgotSeed">
            <input message="tns:forgotSeedRequest"/>
            <output message="tns:forgotSeedResponse"/>
            <fault message="tns:aimErrorResponse" name="aimErrorResponse"/>
        </operation>
        <operation name="getSecurityQuestions">
            <input message="tns:getSecurityQuestionsRequest"/>
            <output message="tns:getSecurityQuestionsResponse"/>
            <fault message="tns:aimErrorResponse" name="aimErrorResponse"/>
        </operation>
        <operation name="testService">
            <input message="tns:testServiceRequest"/>
            <output message="tns:testServiceResponse"/>
            <fault message="tns:aimErrorResponse" name="aimErrorResponse"/>
        </operation>
        <operation name="getRoles">
            <input message="tns:getRolesRequest"/>
            <output message="tns:getRolesResponse"/>
            <fault message="tns:aimErrorResponse" name="aimErrorResponse"/>
        </operation>
    </portType>
    <binding name="Phase_1_Public_AccessIdentityManagementPortBinding"
             type="tns:Phase_1_Public_AccessIdentityManagement">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="forgotPassword">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="aimErrorResponse">
                <soap:fault name="aimErrorResponse" use="literal"/>
            </fault>
        </operation>
        <operation name="searchUser">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="aimErrorResponse">
                <soap:fault name="aimErrorResponse" use="literal"/>
            </fault>
        </operation>
        <operation name="selfRegister">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="aimErrorResponse">
                <soap:fault name="aimErrorResponse" use="literal"/>
            </fault>
        </operation>
        <operation name="selfRegisterBackout">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="aimErrorResponse">
                <soap:fault name="aimErrorResponse" use="literal"/>
            </fault>
        </operation>
        <operation name="forgotSeed">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="aimErrorResponse">
                <soap:fault name="aimErrorResponse" use="literal"/>
            </fault>
        </operation>
        <operation name="getSecurityQuestions">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="aimErrorResponse">
                <soap:fault name="aimErrorResponse" use="literal"/>
            </fault>
        </operation>
        <operation name="testService">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="aimErrorResponse">
                <soap:fault name="aimErrorResponse" use="literal"/>
            </fault>
        </operation>
        <operation name="getRoles">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="aimErrorResponse">
                <soap:fault name="aimErrorResponse" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="Phase_1_Public_AccessIdentityManagementService">
        <port binding="tns:Phase_1_Public_AccessIdentityManagementPortBinding"
              name="Phase_1_Public_AccessIdentityManagementPort">
            <soap:address location="${endpoint}http://localhost:9081/v1.0.0_aimws_phase1/Phase_1_Public_AccessIdentityManagementService"/>
        </port>
    </service>
</definitions>